/* Use fonts */
@font-face {
  font-family: "Poppins-Bold";
  src: url("../fonts/Poppins-Bold.ttf");
}

@font-face {
  font-family: "Poppins-Regular";
  src: url("../fonts/Poppins-Regular.ttf");
}

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  font-family: "Poppins-Regular";
  background: #eee;
}

.container {
  width: 100%;
  height: 100%;
}

.header {
  position: relative;
  width: calc(100% - 40px);
  height: 100px;
  background-color: #3e4bff;
  padding: 0 20px;
}

.logo {
  position: absolute;
  top: 30px;
  left: 50px;
  color: #fff;
  font-size: 24px;
  font-family: "Poppins-Bold";
}

.todo-editor {
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  width: 400px;
  height: 35px;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 5px #dddddd;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
}

.todo-editor input {
  width: calc(100% - 110px);
  height: 30px;
  border-radius: 5px;
  padding: 0 10px;
  border-width: 1px;
  border-color: #dddddd;
  transition: all .6s;
  font-size: 14px;
}

.todo-editor input:focus {
  outline: none;
  box-shadow: 0 2px 5px #dddddd;
  border: 0;
}

.btn-create,
.delete-todo {
  width: 80px;
  height: 30px;
  border-radius: 5px;
  border: 0;
  background-color: #3e4bff;
  color: #fff;
  text-align: center;
  transition: transform .3s;
}

.btn-create:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.content {
  width: 100%;
  height: calc(100% - 100px);
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.list-todo {
  width: 400px;
  min-height: 300px;
  max-height: 300px;
  border-radius: 5px;
  border: 1px solid #ddd;
  margin-top: 50px;
  padding: 15px;
  background-color: #fff;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: thin;
}

.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.todo > div {
  width: calc(100% - 110px);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.todo.marked .todo-text {
  text-decoration: line-through;
  color: grey;
}

.todo-text {
  font-size: 14px;
  margin-left: 10px;
}

.delete-todo {
  border: 2px solid red;
  color: red;
  background-color: #fff;
  align-self: flex-start;
}

.delete-todo:hover {
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .logo {
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media screen and (max-width: 450px) {
  .todo-editor,
  .list-todo {
    width: calc(100% - 40px);
  }
}